{% extends "layout.html" %}

{% block body %}

    <div class="history-page">
        <h1 class="history-title">Your Past Grocery Lists</h1>

        <div class="history-grid">
            {% for list in lists %}
            <a href="/list?id={{list["id"]}}">
                <div class="history-card">
                    <input type="number" id="id" value={{list["id"]}} hidden>
                    <div class="card-dates"><strong>{{list["start"]|date}} - {{list["end"]|date}}</strong></div>
                    <div class="card-line"><strong>Items:</strong> {{list["items"]}}</div>
                    <hr>
                    <div class="card-line"><strong>Total Cost:</strong> {{list["total"]|usd}}</div>
                    <hr>
                    <div class="card-line"><strong>Actually Spent:</strong> {{list["spent"]|usd}}</div>
                    <hr>
                    <div class="card-line"><strong>Budget:</strong> {{list["budget"]|usd}}</div>
                    <hr>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}