{% extends "layout.html" %}

{% block body %}

    This week's list
    
    <p>{{grocery_list["id"]}}</p>
    <p>{{grocery_list["start"]}}</p>
    <p>{{grocery_list["end"]}}</p>
    <p>{{grocery_list["budget"]}}</p>
    <p>{{grocery_list["spent"]}}</p>
    <p>{{grocery_list["items"]}}</p>
    
    <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>
    
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

    <script type="module" src="/static/list.js"></script>

{% endblock %}