{% extends "layout.html" %}

{% block body %}

    This week's list
    <form id="all_items" action="/update_list" method="post">
        <input name="list_id" type="number" hidden value={{grocery_list["id"]}}>
    
        <p id="list_id">ID: {{grocery_list["id"]}}</p>
        <p id="list_start">Start: {{grocery_list["start"]}}</p>
        <p id="list_end">End: {{grocery_list["end"]}}</p>
        <p id="list_budget">Budget: {{grocery_list["budget"]}}</p>
        <p id="list_spent">Spent: {{grocery_list["spent"]}}</p>
        <p id="list_items">Items: {{grocery_list["items"]}}</p>
        <p id="list_total">Total: {{grocery_list["total"]}}</p>
    
        <div id="list-items">
            {% for item in items %}
                <li>
                    <input type="number" name="new_id" hidden value={{item["id"]}}>
                    <input type="checkbox" id="bought" name="bought" value={{item["id"]}} {% if item["bought"] %}checked{% endif %}>
                    <span>{{item["item"]}} {{item["cat_id"]}} {{item["qty"]}} {{item["price"]}}</span>
                    <input type="text" name="new_item" hidden value={{item["item"]}}>
                    <input type="number" name="new_category_id" hidden value={{item["cat_id"]}}>
                    <input type="number" name="new_quantity" hidden value={{item["qty"]}}>
                    <input type="number" name="new_price" hidden value={{item["price"]}} id="new_price">
                    <button id="delete_item" type="button">-</button>
                </li>
            {% endfor %}

            <div id="add_item">
                <li>
                    <input autocomplete="off" id="item" type="text" placeholder="Add an item" name="item">
                    <select name="category" id="category">
                        <option selected disabled>Category</option>
                        {% for cat in categories %}
                        <option value={{cat["id"]}}>{{cat["category"]|cap}}</option>
                        {% endfor %}
                    </select>
                    <input autocomplete="off" id="qty" type="number" step="1" min="1" placeholder="Quantity" name="qty">
                    <input autocomplete="off" id="price" type="number" step="0.01" min="0.01" placeholder="$ Price" name="price">
                    <button type="button" class="confirm" id="add_btn">Confirm</button>
                </li>
            </div>


        </div>
    </form>
    
    <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>
    
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

    <script type="module" src="/static/list.js"></script>

{% endblock %}