{% extends "layout.html" %} 

{% block body %}

    Register
    <a href="/login">Login</a>
    {{h}}
    <form action="/register" method="post">
        <input autofocus autocomplete="off" type="text" name="username" placeholder="Username" id="username">
        <input autocomplete="off" type="password" name="password" placeholder="Password" id="password">
        <input autocomplete="off" type="password" name="password2" placeholder="Password Confirmation" id="password2">
        <button type="button">Register</button>
    </form>

    <script type="module" src="/static/register.js"></script>

{% endblock %}